<div class="home-c">

<h1 class="home-h1">Track App</h1>

<p class="home-p"> Track app allows users to create recipes, and generate a shoppping list based on what
they are missingfrom a recipe. It allows users to share their recipes for public access
</p>

</div>